<div id="content-editor-formatting">
  <a id="btn-bold" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Bold"><span class="fa fa-bold"></span></a>
  <a id="btn-italic" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Italic"><span class="fa fa-italic"></span></a>
  <a id="btn-h2" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Header"><span class="fa fa-header"></span></a>
  <a id="btn-ul" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Bullets"><span class="fa fa-list-ul"></span></a>
  <a id="btn-ol" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="List"><span class="fa fa-list-ol"></span></a>
  <a id="btn-link" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Add Link"><span class="fa fa-link"></span></a>
  <a id="btn-unlink" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Remove Link"><span class="fa fa-unlink"></span></a>
  <a id="btn-undo" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Undo"><span class="fa fa-rotate-left"></span></a>
  <a id="btn-redo" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Redo"><span class="fa fa-repeat"></span></a>
</div>
