// Bootstrap Fixes
$font-size-base: 16px;
$brand-primary: #FF6B6D;
$light-gray: #D3D3D3;
$dark-gray: #303030;
$input-color-placeholder: $light-gray;
$input-border: transparent;
$input-border-radius: 0;
$input-border-focus: transparent;
$alert-info-bg: rgba(255,107,109,0.8);
$alert-info-text: white;

// Import Bootstrap

@import 'bootstrap';

// CSS Overrides

::selection {
  background: lighten($brand-primary, 20%);
}
::-moz-selection {
  background: lighten($brand-primary, 20%);
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
  color: $light-gray;
}

form {
  padding-top: 3em;
}

input[type="text"] {
  outline: none;
  color: $dark-gray;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.alert {
  border-radius: 0;
  border: none !important;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:9999;
}

// Custom CSS

#course_title {
  margin-top: -1em;
  font-size: 1em;
  font-weight: 500;
  padding: 0.4em 0 0.6em 0 !important;
  margin-bottom: -3px;
}

#course-content-div {
  margin: 1em 0;
  cursor: text;
}

#course-content-div:focus {
  outline: 0px solid transparent;
}

#content-editor-formatting {
  background-color: $dark-gray;
  padding: 2px;
  border-radius: $border-radius-small;
  display: inline-block;
  position: fixed;
  top: 5px;
}

#content-editor-formatting a {
  color: white;
  background-color: $dark-gray;
  padding: 5px 10px;
  margin: 0;
  border-radius: $border-radius-small
}

#content-editor-formatting a:hover {
  color: $dark-gray;
  background-color: $light-gray;
  cursor: pointer;
  text-decoration: none;
}

.fa {
  font-size: 0.9em !important;
}

.tooltip-inner {
  font-size: 0.9em;
}

.style-applied, #btn-unlink {
  color: $brand-primary !important
}

.row-padding {
  margin-top: 3em
}

h2 a:hover {
  text-decoration: none
}

.edit-mode {
  padding-top: 0.5em;
  color: lightgray;
  text-align: right;
}
